/* external css */


p{
    color:black;
    background-color: ;
     font-size: small
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    

 }
 h3{
     color: orange;
     background-color: black;
     font-size: xx-large;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: bolder;
 }